@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #e1e1f3;

}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
.calculator-box{
    display: grid;
    grid-template-columns: repeat(4,68px);
    padding: 15px !important;
    border-radius: 10px;
    box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, 0.16);
    background-color: #ecf0f3;
}
.display{
    grid-column:span 4;
    height: 80px;
    width: 260px;
    border: none;
    box-shadow: inset -5px -5px 12px #fff,  inset 5px 5px 12px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    color: rgb(70, 70, 70);
    text-align: end;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
input{
    width: 48px;
    height: 48px;
    background-color:#ecf0f3;
    box-shadow: -5px -5px 12px #fff,  5px 5px 12px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 18px;
    font-weight: bold;
}

input[type="button"]:active{
    background-color: #d5d5d5;
    font-size: 24px;
    color: black;
}
input[value="C"]{
    background-color: #F92F60;
    color: #fff;
}
input[value="DE"]{
    background-color: #F92F60;
    color: #fff;
}
input[value="%"]{
    background-color: #F92F60;
    color: #fff;
}
input[value="/"]{
    background-color: #F92F60;
    color: #fff;
}
input[value="*"]{
    background-color: #F92F60;
    color: #fff;
}
input[value="-"]{
    background-color: #F92F60;
    color: #fff;
}
input[value="+"]{
    background-color: #F92F60;
    color: #fff;
}
input[value="="]{
    background-color: #F92F60;
    color: #fff;
}


